################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ListApp/.vs/ListApp/v15
/ListApp/ListApp/bin/Debug
/ListApp/ListApp/obj/Debug
/ArifmOper/ArifmOper/obj/Debug
/Queue/.vs/Queue/v15
/Queue/Queue/bin/Debug
/Queue/Queue/obj/Debug
/Tree/.vs/Tree/v15
/Tree/Tree/bin/Debug
/Tree/Tree/obj/Debug
/DelegateApp/.vs/DelegateApp/v15
/DelegateApp/DelegateApp/bin/Debug
/DelegateApp/DelegateApp/obj/Debug
/ConsoleApp1
/SegmentTree/.vs/SegmentTree/v15
/SegmentTree/SegmentTree/bin/Debug
/SegmentTree/SegmentTree/obj/Debug
/LInqApp/.vs/LInqApp/v15
/LInqApp/LInqApp/bin/Debug
/LInqApp/LInqApp/obj/Debug
